/* Style the table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

/* Style table headers and table data */
th,
td {
  text-align: left;
  // background-color: white;
  min-width: 50px;
  // padding: 10px;
  // min-width: 600px;
  height: 38px;
}
tr:hover {
  background-color: $lightning-hover-bg-color;
  // cursor: pointer;
}

td input,
th input {
  &:hover {
    cursor: pointer;
  }
}

/* Zebra-striped table rows */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  } 

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}
.fixed-last-column {
  position: sticky;
  right: 0;
  z-index: 2;
}
.fixed-fist-column {
  position: sticky;
  left: 0;
  // z-index: 2;
  padding: 0;
}
