/* Style the buttons that are used to open and close the accordion panel */
.panda-accordion {
  // background-color: #eee;

  // color: #444;
  cursor: pointer;
  padding: 0px  4px;
  width: 15%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  @include flex(center,center);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.panda-accordion.active,
.panda-accordion:hover {
  // text-decoration: underline;
  background-color: #ccc;
}
.panda-accordion:after {
  // content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.panda-accordion.active:after {
  // content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.panda-panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
