/node_modules
/public
/storage/*.key
/storage/
/vendor
composer.lock
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/views/layouts/layout.blade.php
