
.jq-toast-wrap,
.jq-toast-wrap * {
    margin: 0;
    padding: 0
}

.jq-toast-wrap {
    display: block;
    position: fixed;
    width: 250px;
    pointer-events: none !important;
    letter-spacing: normal;
    z-index: 9000 !important
}

.jq-toast-wrap.bottom-left {
    bottom: 20px;
    left: 20px
}

.jq-toast-wrap.bottom-right {
    bottom: 20px;
    right: 40px
}

.jq-toast-wrap.top-left {
    top: 20px;
    left: 20px
}

.jq-toast-wrap.top-right {
    top: 20px;
    right: 40px
}

.jq-toast-single {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 5px;
    border-radius: 4px;
    font-size: 12px;
    font-family: arial, sans-serif;
    line-height: 17px;
    position: relative;
    pointer-events: all !important;
    background-color: #444;
    color: #fff
}

.jq-toast-single h2 {
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 0 0 7px;
    background: 0 0;
    color: inherit;
    line-height: inherit;
    letter-spacing: normal
}

.jq-toast-single a {
    color: #eee;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    font-size: 12px
}

.jq-toast-single ul {
    margin: 0 0 0 15px;
    background: 0 0;
    padding: 0
}

.jq-toast-single ul li {
    list-style-type: disc !important;
    line-height: 17px;
    background: 0 0;
    margin: 0;
    padding: 0;
    letter-spacing: normal
}

.close-jq-toast-single {
    position: absolute;
    top: 3px;
    right: 7px;
    font-size: 14px;
    cursor: pointer
}

.jq-toast-loader {
    display: block;
    position: absolute;
    top: -2px;
    height: 5px;
    width: 0;
    left: 0;
    border-radius: 5px;
    background: red
}

.jq-toast-loaded {
    width: 100%
}

.jq-has-icon {
    padding: 10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-position: 10px
}

.jq-icon-info {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=);
    background-color: #31708f;
    color: #d9edf7;
    border-color: #bce8f1
}

.jq-icon-warning {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=);
    background-color: #8a6d3b;
    color: #fcf8e3;
    border-color: #faebcc
}

.jq-icon-error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=);
    background-color: #a94442;
    color: #f2dede;
    border-color: #ebccd1
}

.jq-icon-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==);
    color: #dff0d8;
    background-color: #3c763d;
    border-color: #d6e9c6
}

/*! Toasty.js - v1.5.0 - 2018-05-04
* https://jakim.me/Toasty.js/
* Copyright (c) 2015-2018 Jakim Hernández; Licensed MIT */
.toast-container {
    position: fixed;
    z-index: 99;
    pointer-events: none;
    line-height: normal;
    transition: all 1s ease-in-out
}

.toast-container .toast-wrapper {
    position: relative;
    padding: .5em
}

.toast-container .toast-soundplayer {
    display: none;
    visibility: hidden
}

.toast {
    position: relative;
    padding-top: 50px;
    z-index: 99;
    padding: 16px;
    border: 1px solid;
    margin: 2em 1em;
    border-left: 6px solid transparent;
    border-radius: 2px;
    pointer-events: none;
    transition: all .32s ease-in-out;
    box-shadow: 0 0 9px rgba(0, 0, 0, .25);
    transform: translateZ(0)
}

.toast--info {
    color: #31708f;
    background-color: #eaf2fa;
    border-color: #91c5f2
}

.toast--success {
    color: #3c763d;
    background-color: #e9ffd9;
    border-color: #a6ca8a
}

.toast--warning {
    color: #8a6d3b;
    background-color: #fff8c4;
    border-color: #f2c779
}

.toast--error {
    color: #a94442;
    background-color: #ffecec;
    border-color: #f5aca6
}

.toast.close-on-click {
    cursor: pointer;
    pointer-events: auto
}

.toast-progressbar {
    position: absolute;
    height: 4px;
    width: 0;
    left: 0;
    bottom: 0;
    opacity: .5;
    transition: width 0s ease
}

.toast-progressbar--info {
    background-color: #91c5f2
}

.toast-progressbar--success {
    background-color: #a6ca8a
}

.toast-progressbar--warning {
    background-color: #f2c779
}

.toast-progressbar--error {
    background-color: #f5aca6
}

.toast-container--fade {
    right: 0;
    bottom: 0
}

.toast-container--fade .toast-wrapper {
    display: inline-block
}

.toast.fade-init {
    opacity: 0
}

.toast.fade-show {
    opacity: 1
}

.toast.fade-hide {
    opacity: 0
}

.toast-container--slideLeftFade {
    right: 0;
    bottom: 0
}

.toast-container--slideLeftFade .toast-wrapper {
    display: inline-block
}

.toast.slideLeftFade-init {
    right: -100%;
    opacity: 0
}

.toast.slideLeftFade-show {
    right: 0;
    opacity: 1
}

.toast.slideLeftFade-hide {
    right: 100%;
    opacity: 0
}

.toast-container--slideLeftRightFade {
    right: 0;
    bottom: 0
}

.toast-container--slideLeftRightFade .toast-wrapper {
    display: inline-block
}

.toast.slideLeftRightFade-init {
    right: -100%;
    opacity: 0
}

.toast.slideLeftRightFade-show {
    right: 0;
    opacity: 1
}

.toast.slideLeftRightFade-hide {
    right: -100%;
    opacity: 0
}

.toast-container--slideRightFade {
    right: 0;
    bottom: 0
}

.toast-container--slideRightFade .toast-wrapper {
    display: inline-block
}

.toast.slideRightFade-init {
    left: -100%;
    opacity: 0
}

.toast.slideRightFade-show {
    left: 0;
    opacity: 1
}

.toast.slideRightFade-hide {
    left: 100%;
    opacity: 0
}

.toast-container--slideRightLeftFade {
    right: 0;
    bottom: 0
}

.toast-container--slideRightLeftFade .toast-wrapper {
    display: inline-block
}

.toast.slideRightLeftFade-init {
    left: -100%;
    opacity: 0
}

.toast.slideRightLeftFade-show {
    left: 0;
    opacity: 1
}

.toast.slideRightLeftFade-hide {
    left: -100%;
    opacity: 0
}

.toast-container--slideUpFade {
    top: 0;
    right: 0;
    bottom: 0
}

.toast-container--slideUpFade .toast-wrapper {
    position: relative;
    width: 100%;
    height: 100%
}

.toast.slideUpFade-init {
    bottom: -100%;
    opacity: 0
}

.toast.slideUpFade-show {
    bottom: 0;
    opacity: 1
}

.toast.slideUpFade-hide {
    bottom: 100%;
    opacity: 0
}

.toast-container--slideUpDownFade {
    top: 0;
    right: 0;
    bottom: 0
}

.toast-container--slideUpDownFade .toast-wrapper {
    position: relative;
    width: 100%;
    height: 100%
}

.toast.slideUpDownFade-init {
    bottom: -100%;
    opacity: 0
}

.toast.slideUpDownFade-show {
    bottom: 0;
    opacity: 1
}

.toast.slideUpDownFade-hide {
    bottom: -100%;
    opacity: 0
}

.toast-container--slideDownFade {
    top: 0;
    right: 0;
    bottom: 0
}

.toast-container--slideDownFade .toast-wrapper {
    position: relative;
    width: 100%;
    height: 100%
}

.toast.slideDownFade-init {
    top: -100%;
    opacity: 0
}

.toast.slideDownFade-show {
    top: 0;
    opacity: 1
}

.toast.slideDownFade-hide {
    top: 100%;
    opacity: 0
}

.toast-container--slideDownUpFade {
    top: 0;
    right: 0;
    bottom: 0
}

.toast-container--slideDownUpFade .toast-wrapper {
    position: relative;
    width: 100%;
    height: 100%
}

.toast.slideDownUpFade-init {
    top: -100%;
    opacity: 0
}

.toast.slideDownUpFade-show {
    top: 0;
    opacity: 1
}

.toast.slideDownUpFade-hide {
    top: -100%;
    opacity: 0
}

.toast-container--pinItUp {
    top: 0;
    right: 0;
    bottom: 0
}

.toast-container--pinItUp .toast-wrapper {
    display: inline-block;
    height: 25px;
    float: right
}

.toast.pinItUp-init {
    bottom: -100%;
    opacity: 0
}

.toast.pinItUp-show {
    bottom: 0;
    opacity: 1
}

.toast.pinItUp-hide {
    bottom: 100%;
    opacity: 0
}

.toast-container--pinItDown {
    top: 0;
    right: 0;
    bottom: 0
}

.toast-container--pinItDown .toast-wrapper {
    display: inline-block;
    height: 25px;
    float: right
}

.toast.pinItDown-init {
    top: -100%;
    opacity: 0
}

.toast.pinItDown-show {
    top: 0;
    opacity: 1
}

.toast.pinItDown-hide {
    top: 100%;
    opacity: 0
}